requests
requests[socks]
cookiejar
bs4
tqdm
setuptools
python-socketio
faker
pyfiglet
colorama
requests_toolbelt
cython
urllib3
websocket-client
cloudscraper
beautifulsoup4
fake-useragent
user-agent
pyarmor
httpx[http2]
